.SignUp {
    margin: 40px;
    width: 500px;
    background-color: #EEEFF1;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
}
input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

.in {
    margin-bottom: 30px;
}
label{
    position: relative;
    z-index: 2;
}

#button {
    position: absolute;
    width: 25%;
    right: 0px;
    background-color: #201bbc;
    margin-bottom: 30px;
    color: white;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #030303;
    font-size: 15px;
}
.links {
    text-align: center;
    margin-bottom: 10px;
}
